<a href="https://colab.research.google.com/github/k2moon/bigbungi/blob/main/real/bigbungi_03_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3회 기출문제
---

## 작업형 1유형

1. 다음은 California Housing 데이터 세트이다. 데이터 중 결측치가 있는 경우 해당 데이터의 행을 모두 제거하고, 첫번째 행부터 순서대로 70%까지의 데이터를 훈련 데이터로 추출한 데이터 세트를 구성한다. 변수 중 ‘housing_median_age’의 Q1(제1사분위수)값을 정수로 계산하시오.

DataSet : https://tinyurl.com/mw4psjfd

In [6]:
import pandas as pd
url = 'https://tinyurl.com/mw4psjfd'
df = pd.read_csv(url)
#print(df.head())

# (1) 결측값이 들어있는 행 전체 삭제하기(delete row with NaN) : df.dropna(axis=0)
# (2) 결측값이 들어있는 열 전체 삭제하기 (delete column with NaN) : df.dropna(axis=1)
#(3) 특정 행 또는 열을 대상으로 결측값이 들어있으면 제거: df[ ].dropna(axis={0|1})

df.dropna(axis=0, inplace=True)
n = int(len(df) * 0.7)
data = df.loc[: n, :]

data = data['housing_median_age']
#result = data.describe()['25%']
result = data.quantile(0.25)

print(result)

19.0

2. 다음은 국가별 연도별 인구 10만명당 결핵 유병률 데이터세트이다. 2000년도의 국가별 결핵 유병률 데이터 세트에서 2000년도의 평균값보다 더 큰 유병률 값을 가진 국가의 수를 계산하시오.

DataSet: https://tinyurl.com/yvyrpjmk

In [107]:
import pandas as pd
url = 'https://tinyurl.com/yvyrpjmk'
df = pd.read_csv(url, index_col=0, header=None)
#print(df.head())

df_2000 = df.loc[2000]
#print(df_2000)

m = df_2000.mean()
#print(m)

n = sum(df_2000 > m) 
print(n) # 실제 시험에서는 71 이었음

76

3. 다음은 Titanic 데이터 세트이다. 주어진 데이터 세트의 컬럼 중 빈 값 또는 결측치를 확인하여, 결측치의 비율이 가장 높은 변수명을 출력하시오.

- DataSet: https://www.kaggle.com/c/titanic
- DataSet: https://tinyurl.com/2uejca84

In [143]:
import pandas as pd
url = 'https://tinyurl.com/2uejca84'
df = pd.read_csv(url, index_col=0)
#print(df.info())

data = df.isnull().sum()
#print(data)

m = data.max()
m = data.loc[data == m]
#print(m)

#result = list(m.index)[0]
result = (m.index).to_list()[0]
print(result)

Cabin    687
dtype: int64
Cabin

## 작업형 2유형

다음은 Travel Insuarance 데이터 세트이다. 주어진 훈련 데이터 세트를 이용하여 고객별 여행보험 가입 여부 예측모형을 만들고, 가장 높은 Accuracy값을 가지는 최종모델을 도출하시오. 해당 모델을 활용하여 보험가입여부 예측값을 계산하고 결과값은 csv파일로 제출하시오.

* 결과 제출 양식 : ID, TravelInsurance

- DataSet: https://www.kaggle.com/datasets/tejashvi14/travel-insurance-prediction-data
- DataSet: https://tinyurl.com/mtnrdfc6

In [167]:
import pandas as pd
import numpy as np

url = 'https://tinyurl.com/mtnrdfc6'
df = pd.read_csv(url)

df.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,0,31,Government Sector,Yes,400000,6,1,No,No,0
1,1,31,Private Sector/Self Employed,Yes,1250000,7,0,No,No,0
2,2,34,Private Sector/Self Employed,Yes,500000,4,1,No,No,1
3,3,28,Private Sector/Self Employed,Yes,700000,3,1,No,No,0
4,4,28,Private Sector/Self Employed,Yes,700000,8,1,Yes,No,0

In [173]:
# 데이터 가져오기 read_csv()


# x_test_data = pd.read_csv("data/X_test.csv")
# x_train_data = pd.read_csv("data/X_train.csv")
# y_train_data = pd.read_csv("data/y_train.csv")

# ------- 데이터 확인 info ---------


# 모든 컬럼값 확인 T
print(df.head().T)

# 행/열 확인 shape (생략가능)
print(df.shape)

# 요약정보 확인 info()
## 데이터타입, 결측치 등 확인, object 범주형
### object 범주형 인코딩 확인
print(df.info())
# 명목형변수 Employment Type, GraduateOrNot, FrequentFlyer, EverTravelledAbroad
# 결측치 없음

# 기초통계량 확인 describe()
## count, mean,std,min, 25%, 50%, 75%, max
### 데이터 스케일링 확인, 회귀, 비tree 계열
print(df.describe().T)

# 타깃값 확인 unique
## 1차원인지도 확인 (y,)
y_train = df['TravelInsurance']
x_train = df.drop(columns='TravelInsurance')
print(y_train.unique())

# 테스트용 데이터 분리
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2)
test_id = x_test.iloc[:, 0]
print(test_id.shape)
# ------- 데이터 전처리 preprocessing ---------

# 불필요한 컬럭 삭제 drop(columns=[])
## PK 역할 컬럼 등 삭제

x_train = x_train.drop(columns='ID')
x_test = x_test.drop(columns='ID')

print(x_train.head())

# 결측치 처리하기 fillna()
## 임의로 결측치 삭제하지 말 것
## 평균, 중앙값, 상황에 따른 값



# 범주형 변수 인코딩
## 라벨 인코딩 LabelEncoder, 원핫인코딩  OneHotEncoder
## 라벨 인코딩(Tree 계열의 분류 알고리즘에 사용)
## Employment Type, GraduateOrNot, FrequentFlyer
from sklearn.preprocessing import LabelEncoder 
encoder = LabelEncoder()
x_train['Employment Type'] = encoder.fit_transform(x_train['Employment Type'])
x_train['GraduateOrNot'] = encoder.fit_transform(x_train['GraduateOrNot'])
x_train['FrequentFlyer'] = encoder.fit_transform(x_train['FrequentFlyer'])
x_train['EverTravelledAbroad'] = encoder.fit_transform(x_train['EverTravelledAbroad'])

x_test['Employment Type'] = encoder.fit_transform(x_test['Employment Type'])
x_test['GraduateOrNot'] = encoder.fit_transform(x_test['GraduateOrNot'])
x_test['FrequentFlyer'] = encoder.fit_transform(x_test['FrequentFlyer'])
x_test['EverTravelledAbroad'] = encoder.fit_transform(x_test['EverTravelledAbroad'])
print(x_train.info())

# 파생변수 생성
## 필요시 생성


# 데이터 스케일링
## 연속형 변수의 최대, 최소 분포차가 클때
## MinMaxScaler, StandardScaler, RobustScaler
## test는 train용의로 transform() 
## Tree 계열 필수는 아님
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

# 상관관계 확인 corr()
## 필요 시 확인
#print('>>>>>>>>>>>',x_train.corr())

# 전처리 확인 info()
print(x_train.info())

# ------- 머신러닝 machine learning ---------

# 평가용 데이터 분리 model_selection
## stratify, stes_size, y값 1차원 확인


# 데이터 학습
## fit, predict, predict_proba
## 분류 XXXClassifier, LogisticRegression
## 회귀(예측) XXXRegressor(XXXRegression)
## 공통 ensemble
## RandomForestXXX : n_estimators (default = 100), max_depth, criterion
## criterion : 분할 품질을 측정하는 기능 ()
### RandomForestClassifier: criterion{“gini”, “entropy”, “log_loss”}, default=”gini”
### RandomForestRegressor: criterion{“mse”, “mae”}, / v1.2 criterion{“squared_error”, “absolute_error”}, default=”squared_error”
## GradientBoostingXXX : n_estimators, learning_rate(default =  0.1)
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

rf_model = RandomForestClassifier()
rf_model.fit(x_train, y_train)
rf_pred = rf_model.predict(x_test)

gbc_model = GradientBoostingClassifier()
gbc_model.fit(x_train, y_train)
gbc_pred = gbc_model.predict(x_test)

# 데이터 평가 metrics
## 회귀 : MAE, MSE, RMSE, R^2, RMSE는 np.sqrt(MSE값)
## 분류 : ROC_AUC, Accuracy(정확도), Precision(정밀도), Recall(재현율)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, rf_pred))
print(accuracy_score(y_test, gbc_pred))

# ------- 답안 제출 ---------

# 전체학습데이터로 다시 학습


# 제출용 예측

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
pd.DataFrame({'ID': test_id, 'TravelInsurance': gbc_pred}).to_csv('424242.csv', index=False)


# 제출 최종 확인
print(pd.read_csv("./424242.csv").head())

                                     0                             1  \
ID                                   0                             1
Age                                 31                            31
Employment Type      Government Sector  Private Sector/Self Employed
GraduateOrNot                      Yes                           Yes
AnnualIncome                    400000                       1250000
FamilyMembers                        6                             7
ChronicDiseases                      1                             0
FrequentFlyer                       No                            No
EverTravelledAbroad                 No                            No
TravelInsurance                      0                             0

                                                2  \
ID                                              2
Age                                            34
Employment Type      Private Sector/Self Employed
GraduateOrNot                                 Yes
AnnualIncome                               500000
FamilyMembers                                   4
ChronicDiseases                                 1
FrequentFlyer                                  No
EverTravelledAbroad                            No
TravelInsurance                                 1

                                                3  \
ID                                              3
Age                                            28
Employment Type      Private Sector/Self Employed
GraduateOrNot                                 Yes
AnnualIncome                               700000
FamilyMembers                                   3
ChronicDiseases                                 1
FrequentFlyer                                  No
EverTravelledAbroad                            No
TravelInsurance                                 0

                                                4
ID                                              4
Age                                            28
Employment Type      Private Sector/Self Employed
GraduateOrNot                                 Yes
AnnualIncome                               700000
FamilyMembers                                   8
ChronicDiseases                                 1
FrequentFlyer                                 Yes
EverTravelledAbroad                            No
TravelInsurance                                 0
(1987, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   object
 3   GraduateOrNot        1987 non-null   object
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   object
 8   EverTravelledAbroad  1987 non-null   object
 9   TravelInsurance      1987 non-null   int64
dtypes: int64(6), object(4)
memory usage: 155.4+ KB
None
                  count           mean            std       min       25%  \
ID               1987.0     993.000000     573.741812       0.0     496.5
Age              1987.0      29.650226       2.913308      25.0      28.0
AnnualIncome     1987.0  932762.959235  376855.684748  300000.0  600000.0
FamilyMembers    1987.0       4.752894       1.609650       2.0       4.0
ChronicDiseases  1987.0       0.277806       0.448030       0.0       0.0
TravelInsurance  1987.0       0.357323       0.479332       0.0       0.0

                      50%        75%        max
ID                  993.0     1489.5     1986.0
Age                  29.0       32.0       35.0
AnnualIncome     900000.0  1250000.0  1800000.0
FamilyMembers         5.0        6.0        9.0
ChronicDiseases       0.0        1.0        1.0
TravelInsurance       0.0        1.0        1.0
[0 1]
(398,)
      Age               Employment Type GraduateOrNot  AnnualIncome  \
1342   25  Private Sector/Self Employed           Yes       1400000
1172   28  Private Sector/Self Employed           Yes        900000
363    34             Government Sector           Yes       1300000
270    34             Government Sector           Yes       1300000
1662   28  Private Sector/Self Employed           Yes        550000

      FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad
1342              3                0            No                 Yes
1172              4                1            No                  No
363               4                0            No                  No
270               6                0            No                 Yes
1662              6                0           Yes                  No
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1589 entries, 1342 to 715
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1589 non-null   int64
 1   Employment Type      1589 non-null   int64
 2   GraduateOrNot        1589 non-null   int64
 3   AnnualIncome         1589 non-null   int64
 4   FamilyMembers        1589 non-null   int64
 5   ChronicDiseases      1589 non-null   int64
 6   FrequentFlyer        1589 non-null   int64
 7   EverTravelledAbroad  1589 non-null   int64
dtypes: int64(8)
memory usage: 111.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589 entries, 0 to 1588
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1589 non-null   float64
 1   Employment Type      1589 non-null   float64
 2   GraduateOrNot        1589 non-null   float64
 3   AnnualIncome         1589 non-null   float64
 4   FamilyMembers        1589 non-null   float64
 5   ChronicDiseases      1589 non-null   float64
 6   FrequentFlyer        1589 non-null   float64
 7   EverTravelledAbroad  1589 non-null   float64
dtypes: float64(8)
memory usage: 99.4 KB
None
0.7914572864321608
0.8316582914572864
     ID  Reached.on.Time_Y.N
0   386                    1
1  1339                    1
2    67                    1
3   679                    0
4  1813                    1